<!DOCTYPE html>

<html>
  <head>
    <html lnag="ja">
    <title>ClipApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
    <h1>グレーアプリ</h1>
    <%= yield %>
  </body>
</html>
