<!DOCTYPE html>

<html>
  <head>
    <html lnag="ja">
    <title>ClipApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="link">
        <%= link_to("GrayClip","/")%>
        <!--<%= link_to("コンテンツ","")%>-->
        <!--<%= link_to("チャット","")%>-->
        <!--<%= link_to("クリップ","")%>-->
      </div>
      <div class="login">
        <!--<%= link_to image_tag("","")%>-->
      </div>

    </header>
    <%= yield %>
  </body>
</html>
